# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

local.darklinden.site {
    tls /etc/caddy/ssl/fullchain.cer /etc/caddy/ssl/local.darklinden.site.key

    # Set this path to your site's directory.
    root * /usr/share/html

    # Enable the static file server.
    file_server browse {
        precompressed zstd br gzip
    }

    @wasm path *.wasm *.wasm.gz *.wasm.br *.wasm.zst
    header @wasm Content-Type application/wasm

    @gz path *.gz
    header @gz Content-Encoding gzip

    @zst path *.zst
    header @zst Content-Encoding zstd

    @br path *.br
    header @br Content-Encoding br
}

http://local.darklinden.site {

    # Set this path to your site's directory.
    root * /usr/share/html

    # Enable the static file server.
    file_server browse {
        precompressed zstd br gzip
    }

    @wasm path *.wasm *.wasm.gz *.wasm.br *.wasm.zst
    header @wasm Content-Type application/wasm

    @gz path *.gz
    header @gz Content-Encoding gzip

    @zst path *.zst
    header @zst Content-Encoding zstd

    @br path *.br
    header @br Content-Encoding br
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile